{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row shadow rounded my-3" style="box-shadow: 8px 8px 12px #000;">
        <div class="col-md-3 p-2">
            <img src="https://via.placeholder.com/250x150" alt="">
        </div>
        <div class="col-md-9 p-2">
            <span>RH & Gestion</span>
            <h6 class="my-2">Elaborer une politique de remboursement</h6>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore totam, corrupti aut, omnis earum, maxime ratione quidem cum praesentium illo aperiam numquam ut. Accusantium rem vel odit eaque! Eos, minima.</p>
        </div>
    </div>
    <div class="row shadow rounded my-3" style="box-shadow: 8px 8px 12px #000;">
        <div class="col-md-3 p-2">
            <img src="https://via.placeholder.com/250x150" alt="">
        </div>
        <div class="col-md-9 p-2">
            <span>RH & Gestion</span>
            <h6 class="my-2">Elaborer une politique de remboursement</h6>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore totam, corrupti aut, omnis earum, maxime ratione quidem cum praesentium illo aperiam numquam ut. Accusantium rem vel odit eaque! Eos, minima.</p>
        </div>
    </div>
    <div class="row shadow rounded my-3" style="box-shadow: 8px 8px 12px #000;">
        <div class="col-md-3 p-2">
            <img src="https://via.placeholder.com/250x150" alt="">
        </div>
        <div class="col-md-9 p-2">
            <span>RH & Gestion</span>
            <h6 class="my-2">Elaborer une politique de remboursement</h6>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore totam, corrupti aut, omnis earum, maxime ratione quidem cum praesentium illo aperiam numquam ut. Accusantium rem vel odit eaque! Eos, minima.</p>
        </div>
    </div>
    <div class="row shadow rounded my-3" style="box-shadow: 8px 8px 12px #000;">
        <div class="col-md-3 p-2">
            <img src="https://via.placeholder.com/250x150" alt="">
        </div>
        <div class="col-md-9 p-2">
            <span>RH & Gestion</span>
            <h6 class="my-2">Elaborer une politique de remboursement</h6>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore totam, corrupti aut, omnis earum, maxime ratione quidem cum praesentium illo aperiam numquam ut. Accusantium rem vel odit eaque! Eos, minima.</p>
        </div>
    </div>
    <div class="row shadow rounded my-3" style="box-shadow: 8px 8px 12px #000;">
        <div class="col-md-3 p-2">
            <img src="https://via.placeholder.com/250x150" alt="">
        </div>
        <div class="col-md-9 p-2">
            <span>RH & Gestion</span>
            <h6 class="my-2">Elaborer une politique de remboursement</h6>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore totam, corrupti aut, omnis earum, maxime ratione quidem cum praesentium illo aperiam numquam ut. Accusantium rem vel odit eaque! Eos, minima.</p>
        </div>
    </div>
</div>

{% endblock %}
